body {
  margin: 0;
}

.bannerStyle {
  display: flex;
  height: 100vh;
  padding-left: 15rem;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('./assets/images/more/3.png');
}

.banner {
  color: white;
}

.bannerHeader {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Dancing Script', cursive;
}

.bannerDesc {
  margin: 1.5rem 0 1.5rem 0 !important;
  font-size: 1rem !important;
  font-family: 'Raleway' !important;
}

@media (max-width: 600px) {
  .bannerHeader {
    font-size: 1rem;
  }
}

.addCoffee {
  text-align: center;
  margin: 2em 12rem 3em 12rem
}

.coffees-bg {
  display: flex;
  height: 100vh;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url('./assets/images/more/1.png');
}